<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kippt Bookmark Importer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Styles -->
    <style type=text/css>{{ get_resource_as_string('static/bootstrap/css/bootstrap.css') }}</style>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  
  <body>
  <div class="container">
            <div class="hero-unit">
            <h1>Kippt Bookmark Importer</h1>
            <br>
          	<h3>Upload Successful!</h3>
          	<p>Your bookmarks are being imported now.
          </div>
</div>
  </body>
  </html>